# pandas

* Python으로 작성된 data를 분석 및 조작하기 위한 Software Library
* 수치형 Table과 시계열 data를 조작하고 운영하기 위한 data 제공
* numpy의 확장
* 외부 data 읽고 쓰기
* 데이터 분석
* 데이터 정리

## DataFrame
* 표 형식의 data를 담는 자료형
* 열 column : data의 특징
* 행 row : record(레코드)

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [3]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'english_score', 'math_score'], index=['a', 'b', 'c', 'd'])
print(type(my_df))
print(my_df.columns) # .columns : 열 출력
print(my_df.index) # .index : 행 출력
print(my_df.dtypes) # .dtypes : data의 type 출력
my_df

<class 'pandas.core.frame.DataFrame'>
Index(['name', 'english_score', 'math_score'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')
name             object
english_score     int64
math_score        int64
dtype: object

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [4]:
# From list of lists, array of arrays, list of series

import numpy as np
import pandas as pd

two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
two_dimensional_array = np.array(two_dimensional_list)
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
]

# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [5]:
# From dict of lists, dict of arrays, dict of series

names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

dict1 = {
    'name': names, 
    'english_score': english_scores, 
    'math_score': math_scores
}

dict2 = {
    'name': np.array(names), 
    'english_score': np.array(english_scores), 
    'math_score': np.array(math_scores)
}

dict3 = {
    'name': pd.Series(names), 
    'english_score': pd.Series(english_scores), 
    'math_score': pd.Series(math_scores)
}


# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [6]:
# From list of dicts

my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]

df = pd.DataFrame(my_list)
print(df)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [7]:
import pandas as pd

two_dimensional_list = [
    ['Taylor Swift', 'December 13, 1989', 'Singer-songwriter'],
    ['Aaron Sorkin', 'June 9, 1961', 'Screenwriter'],
    ['Harry Potter', 'July 31, 1980', 'Wizard'],
    ['Ji-Sung Park', 'February 25, 1981', 'Footballer']
    ]
df = pd.DataFrame(two_dimensional_list, columns=['name', 'birthday', 'occupation'])
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer

In [8]:
iphone_df = pd.read_csv('data/iphone.csv') # 해당 경로의 csv 파일을 읽음
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [9]:
iphone_df = pd.read_csv('data/iphone.csv', index_col = 0) # index_col : 특정 컬럼을 row 이름으로 지정
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## indexing

In [10]:
iphone_df = pd.read_csv('data/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [11]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [12]:
iphone_df.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [13]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [14]:
iphone_df.loc[:, '출시일'] # == iphone_df.loc['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [15]:
iphone_df.loc[['iPhone X', 'iPhone 8']] # 여러 row indexing

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [16]:
iphone_df[['Face ID', '출시일', '메모리']] # 여러 column indexing

              Face ID         출시일  메모리
iPhone 7           No  2016-09-16  2GB
iPhone 7 Plus      No  2016-09-16  3GB
iPhone 8           No  2017-09-22  2GB
iPhone 8 Plus      No  2017-09-22  3GB
iPhone X          Yes  2017-11-03  3GB
iPhone XS         Yes  2018-09-21  4GB
iPhone XS Max     Yes  2018-09-21  4GB

In [17]:
iphone_df.loc['iPhone 8':'iPhone XS'] # row Slicing

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [18]:
iphone_df.loc[:, '메모리':'Face ID'] # column Slicing

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [19]:
iphone_df.loc['iPhone 8':'iPhone XS', '메모리':'Face ID'] # row column 둘다 Slicing

               메모리     출시 버전 Face ID
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes

## 조건 indexing

In [20]:
iphone_df.loc[[True, False, True, True, False, True, False]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [21]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [22]:
iphone_df.loc[iphone_df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [23]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [24]:
condition = (iphone_df['디스플레이'] > 5) & (iphone_df['Face ID'] == 'Yes') # and
iphone_df[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [25]:
condition = (iphone_df['디스플레이'] > 5) | (iphone_df['Face ID'] == 'Yes') # or
iphone_df[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

### iloc : 숫자로 indexing (integer location)

In [26]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [27]:
iphone_df.iloc[2, 4] # row 2, column 4

'No'

In [28]:
iphone_df.iloc[[1, 3], [1, 4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [29]:
iphone_df.iloc[3:, 1:4] # row 3 ~ 끝 column 1 ~ 3

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

## DataFrame 값 쓰기

In [ ]:
iphone_df.loc['iPhone 8', '메모리'] = '2.5GB'
iphone_df.loc['iPhone 8', '출시 버전'] = 'iOS 10.3'
iphone_df.loc['iPhone 8'] = ['2016-09-22', '4.7', '2GB', 'iOS 11.0', 'No'] # row 내 index 한 번에 바꾸기
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in'] # column 내 index 한 번에 바꾸기
iphone_df['Face ID'] = 'No' # column 내 index 모두 같은 값으로 바꾸기
iphone_df

In [ ]:
# 여러줄 한번에 바꾸기
iphone_df[['디스플레이', 'Face ID']] = 'x'
iphone_df

In [ ]:
iphone_df.loc['iPhone 7':'iPhone X'] = 'o'
iphone_df

In [ ]:
iphone_df.loc[iphone_df['디스플레이'] > 5] = 'p' # 디스플레이가 5 이상이면 모두 p
iphone_df

In [ ]:
iphone_df.iloc[[1, 3], [1, 4]] = 'v' # [1, 3], [1, 4] 위치의 값을 v로
iphone_df

## DataFrame 값 추가/삭제

In [30]:
iphone_df.loc['iPhone XR'] = ['2018-10-26', 6.1, '3GB', 'iOS 12.0.1', 'Yes'] # row 추가
iphone_df

                      출시일  디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes

In [31]:
iphone_df['제조사'] = 'Apple' # column 추가
iphone_df

                      출시일  디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes  Apple

In [32]:
iphone_df.drop('iPhone XR', axis='index', inplace=False)
# drop() : 삭제 , axis='index' : row(index) 삭제 명시
# inplace= : 기존 데이터(iphone_df)에 영향을 적용시킬지 여부

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [33]:
iphone_df.drop('제조사', axis='columns', inplace=True)
iphone_df

                      출시일  디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes

In [34]:
iphone_df.drop(['iPhone 7', 'iPhone 8', 'iPhone X'], axis='index', inplace=False)

                      출시일  디스플레이  메모리       출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes

## index / column 설정

In [41]:
import pandas as pd
liverpool_df = pd.read_csv('data/liverpool.csv')
liverpool_df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil

In [42]:
liverpool_df.rename(columns={'position':'Position'}, inplace=True) # columns={원래값 : 바꿀값}

In [43]:
liverpool_df.index.name = 'Player Name'
liverpool_df

                        Name Position  Born  Number Nationality
Player Name
0            Roberto Firmino       FW  1991   no. 9      Brazil
1                 Sadio Mane       FW  1992  no. 10     Senegal
2              Mohamed Salah       FW  1992  no. 11       Egypt
3                  Joe Gomez       DF  1997  no. 12     England
4             Alisson Becker       GK  1992  no. 13      Brazil

In [44]:
liverpool_df.set_index('Number', inplace=True)

In [45]:
liverpool_df['Player Name'] = liverpool_df.index
liverpool_df

                   Name Position  Born Nationality Player Name
Number
no. 9   Roberto Firmino       FW  1991      Brazil       no. 9
no. 10       Sadio Mane       FW  1992     Senegal      no. 10
no. 11    Mohamed Salah       FW  1992       Egypt      no. 11
no. 12        Joe Gomez       DF  1997     England      no. 12
no. 13   Alisson Becker       GK  1992      Brazil      no. 13