In [1]:
import pandas as pd

df = pd.read_csv('dc_data/steam_1.csv', index_col=0)
df

                                   Hours
Name
The Elder Scrolls V Skyrim         273.0
Fallout 4                           87.0
Spore                               14.9
Fallout New Vegas                   12.1
Left 4 Dead 2                        8.9
...                                  ...
Nancy Drew Tomb of the Lost Queen    8.4
Portal 2                             8.3
Farm for your Life                   8.0
PAYDAY 2                             7.5
Sid Meier's Civilization V           7.5

[20226 rows x 1 columns]

In [2]:
df.isnull().sum()

Hours    10
dtype: int64

In [3]:
df.dropna(inplace=True)
df

                                   Hours
Name
The Elder Scrolls V Skyrim         273.0
Fallout 4                           87.0
Spore                               14.9
Fallout New Vegas                   12.1
Left 4 Dead 2                        8.9
...                                  ...
Nancy Drew Tomb of the Lost Queen    8.4
Portal 2                             8.3
Farm for your Life                   8.0
PAYDAY 2                             7.5
Sid Meier's Civilization V           7.5

[20216 rows x 1 columns]